html {
  width: 100%;
  overscroll-behavior: none;
}
body {
  width: 100vw;
  background-color: var(--bs-dark);
  --bs-body-color: var(--bs-light);
  --bs-body-bg: var(--bs-dark);
  --bs-dropdown-color: var(--bs-light);
  overscroll-behavior: none;
}
#loading {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.2s ease-out;
  left: 0;
  top: 0;
  background-color: black;
}
#loading.loaded {
  pointer-events:none;
  opacity: 0;
}
#loading .spinnerContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.sheet-pages {
  position: absolute;
  top:0;
  left:50%;
  transform: translateX(-50%);
}
.sheet-page {
  z-index: -1;
  position: relative;
  mix-blend-mode: normal;
  width: fit-content;
}
.sheet-page img {
  width: 100vw;
  height: auto;
}
.bg-image {
  position: absolute;
  left:0;
  top:0;
  mix-blend-mode: screen; 
  img {
    mix-blend-mode: multiply;
  }
}
.fg-image {
  position: relative;
  img {
    filter: invert(1);
    mix-blend-mode: multiply;
  }
}
.div-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.fg-image .div-bg {
  background-color: var(--bs-body-color);
}
.bg-image .div-bg {
  background-color: var(--bs-body-bg);
}
.dot {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: var(--bs-body-color);
  transform: translate(-50%, -50%);
}
.text-box {
  position: absolute;
  .text-box-text {
    font-size: clamp(1vw, 1.5rem, 3vw);
    white-space: nowrap;
    overflow-x: auto;
    max-width: 100%;
    background-color: transparent;
    color: var(--bs-body-color);
    scrollbar-width: none; 
    -ms-overflow-style: none;
    transition: 0.1s linear;
    mask-image: linear-gradient(
      to right,
      transparent 0,
      black 32px,
      black calc(100% - 32px),
      transparent 100%
    );
    mask-size: calc(100% + 64px);
    mask-position: center;
    &::-webkit-scrollbar {
      display: none;
    }
    &.can-scroll-right {
      mask-position: -64px 0;
    }
    &.can-scroll-left {
      mask-position: 0 0;
    }
    &.can-scroll-left.can-scroll-right {
      mask-size: 100%;
      mask-position: 0 0;
    }
    &:focus {
      outline: none;
    }
  }
}
.centered-box .text-box-text,.centered-box-half .text-box-text {
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}
.left-centered-box .text-box-text, .left-centered-box-half .text-box-text {
  position: absolute;
  left:0;
  top:50%;
  transform: translateY(-50%);
}
.inline .text-box-text, .inline-half .text-box-text {
  position: absolute;
  bottom: -0.5vw;
  left: 0;
  margin-bottom: 0;
}
.centered-box-half .text-box-text, .inline-half .text-box-text, .left-centered-box-half .text-box-text  {
  font-size: clamp(1vw, 1rem, 1.5vw);
}
#topRightButton {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  padding: 6px 10px;
}
#topRightSecondButton {
  position: fixed;
  top: calc(1rem + 36px);
  right: 0.5rem;
  padding: 6px 10px;
}
.ui-button {
  color: var(--bs-body-bg);
  background-color: var(--bs-body-color);
  border-radius: 0.375rem;
  cursor: pointer;
  transition: 0.2s;
  &:hover, &:active {
    filter: brightness(0.85);
  }
  &:hover:active {
    filter: brightness(0.75);
  }
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.clickable-dot {
  cursor: pointer;
  transition: opacity 0.2s ease-out;
  &:hover {
    opacity:0.7;
  }
  &.dot-hidden:hover {
    opacity: 0.4;
  }
}
.dot-hidden {
  opacity: 0;
}
.editable-box {
  cursor: pointer;
  /* outline: var(--bs-light) 1.5px dotted; */
  &:hover {
    .text-box-text {
      &:not(:focus) {
        opacity: 0.7;
      }
    }
    &:has(.text-box-text:focus) {
      /* pointer-events: none; */
      cursor:default;
    }
  }
}
.free-text-half .text-box-text {
  white-space: wrap !important;
  font-size: clamp(1vw, 0.5rem, 0.5vw);
  height: 100%;
}
.modal {
  --bs-border-color: var(--bs-light);
}
.weapon-editor {
  border: 1px solid var(--bs-light);
  border-radius: .5rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.level-editor, .bonus-editor {
  border-radius: .5rem;
  margin-bottom: 0.75rem;
}

.weapon-header, .level-header, .bonus-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .75rem;
}

.weapon-grid  {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: .75rem;
}
.level-grid, .bonus-grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) 3rem;
  gap: .75rem;
}

@media (max-width: 768px) {
  .weapon-grid, .level-grid, .bonus-grid {
    grid-template-columns: 1fr;
  }
}

.close-button {
  color: var(--bs-light);
  border: none;
  background: none;
  cursor: pointer;
  margin-left: auto;
}
.selected-tags:empty::before {
  content: "None selected";
  color: var(--bs-body-color);
  opacity: 0.5;
  font-style: italic;
}

.badge {
  font-size: 0.95rem;
  padding: 0.55em 0.75em;
  background-color: var(--bs-body-color);
  color: var(--bs-body-bg);
}

.remove-tag {
  cursor: pointer;
  margin-left: .45em;
  font-weight: bold;
  user-select: none;
}
.btn-outline-light {
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-border-color: var(--bs-body-color);
  --bs-btn-hover-color: var(--bs-body-bg);
  --bs-btn-hover-bg: var(--bs-body-color);
  --bs-btn-hover-border-color: var(--bs-body-color);
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: var(--bs-body-bg);
  --bs-btn-active-bg: var(--bs-body-color);
  --bs-btn-active-border-color: var(--bs-body-color);
  --bs-btn-active-shadow: none; /* inset 0 3px 5px rgba(0, 0, 0, 0.125);*/
  --bs-btn-disabled-color: var(--bs-body-color);
  --bs-btn-disabled-border-color: var(--bs-body-color);
}
.btn-light {
  --bs-btn-color: var(--bs-body-bg);
  --bs-btn-bg: var(--bs-body-color);
  --bs-btn-border-color: var(--bs-body-bg);
  --bs-btn-hover-color: var(--bs-body-color);
  --bs-btn-hover-bg: var(--bs-body-bg);
  --bs-btn-hover-border-color: var(--bs-body-color);
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: var(--bs-body-color);
  --bs-btn-active-bg: var(--bs-body-bg);
  --bs-btn-active-border-color: var(--bs-body-bg);
  --bs-btn-active-shadow: none; /* inset 0 3px 5px rgba(0, 0, 0, 0.125);*/
  --bs-btn-disabled-color: var(--bs-body-bg);
  --bs-btn-disabled-border-color: var(--bs-body-bg);
}
.list-group-item.list-group-item-action {
  color: var(--bs-body-color);
  border-left: none;
  border-right: none;
  &:first-child {
    border-top: none;
  }
  &:last-child {
    border-bottom: none;
  }
  &:hover {
    background-color: var(--bs-body-color);
    color: var(--bs-body-bg);
  }
}
input.form-control.bonus-search {
  width: auto;
  color: var(--bs-body-color);
  &:focus {
    box-shadow: color-mix(in srgb, var(--bs-body-color) 25%, transparent) 0px 0px 0px 0.25rem !important;
    border-color: color-mix(in srgb, var(--bs-body-color) 75%, var(--bs-body-bg));
  }
  &::placeholder {
    color: var(--bs-body-color);
  }
}
.adder, .subtractor {
  position: absolute;
  right: -8px;
  background-color: var(--bs-body-color);
  color: var(--bs-body-bg);
  height: calc(2 * clamp(1vw, 1rem, 1.5vw));
  width: calc(2 * clamp(1vw, 1rem, 1.5vw));
  padding: 0;
  transform: translateX(100%);
  z-index: 10;
}
.adder {
  top:8px;
}
.subtractor {
  bottom: 8px;
}