html {
  width: 100%;
  overscroll-behavior: none;
}
body {
  width: 100vw;
  background-color: black;
  --bs-body-color: var(--bs-light);
  --bs-body-bg: var(--bs-dark);
  overscroll-behavior: none;
}
#loading {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.2s ease-out;
  left: 0;
  top: 0;
  background-color: black;
}
#loading.loaded {
  pointer-events:none;
  opacity: 0;
}
#loading .spinnerContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.sheet-pages {
  position: absolute;
  top:0;
  left:50%;
  transform: translateX(-50%);
}
.sheet-page {
  z-index: -1;
  /* background-color: aqua; */
  position: relative;
  mix-blend-mode: normal;
  width: fit-content;
}
.sheet-page img {
  width: 100vw;
  height: auto;
}
.bg-image {
  position: absolute;
  left:0;
  top:0;
  mix-blend-mode: screen; 
  img {
    mix-blend-mode: multiply;
  }
}
.fg-image {
  position: relative;
  img {
    filter: invert(1);
    mix-blend-mode: multiply;
  }
}
.div-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.dot {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: white;
  transform: translate(-50%, -50%);
}
.text-box {
  position: absolute;
  /* border: 1px dashed white; */
  .text-box-text {
    font-size: clamp(1vw, 1.5rem, 3vw);
    white-space: nowrap;
    overflow-x: auto;
    max-width: 100%;
    background-color: transparent;
    color: var(--bs-body-color);
    scrollbar-width: none; 
    -ms-overflow-style: none;
    transition: 0.1s linear;
    mask-image: linear-gradient(
      to right,
      transparent 0,
      black 32px,
      black calc(100% - 32px),
      transparent 100%
    );
    mask-size: calc(100% + 64px);
    mask-position: center;
    &::-webkit-scrollbar {
      display: none;
    }
    &.can-scroll-right {
      mask-position: -64px 0;
    }
    &.can-scroll-left {
      mask-position: 0 0;
    }
    &.can-scroll-left.can-scroll-right {
      mask-size: 100%;
      mask-position: 0 0;
    }
    &:focus {
      outline: none;
    }
  }
}
.centered-box .text-box-text,.centered-box-half .text-box-text {
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}
.left-centered-box .text-box-text, .left-centered-box-half .text-box-text {
  position: absolute;
  left:0;
  top:50%;
  transform: translateY(-50%);
}
.inline .text-box-text, .inline-half .text-box-text {
  position: absolute;
  bottom: -0.5vw;
  left: 0;
  margin-bottom: 0;
}
.centered-box-half .text-box-text, .inline-half .text-box-text, .left-centered-box-half .text-box-text  {
  font-size: clamp(1vw, 1rem, 1.5vw);
}
#top-right-button {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  padding: 6px 10px;
}
.ui-button {
  color: var(--bs-body-bg);
  background-color: var(--bs-body-color);
  border-radius: 0.375rem;
  cursor: pointer;
  transition: 0.2s;
  &:hover, &:active {
    filter: brightness(0.85);
  }
  &:hover:active {
    filter: brightness(0.75);
  }
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.clickable-dot {
  cursor: pointer;
  transition: opacity 0.2s ease-out;
  &:hover {
    opacity:0.7;
  }
  &.dot-hidden:hover {
    opacity: 0.4;
  }
}
.dot-hidden {
  opacity: 0;
}
.editable-box {
  cursor: pointer;
  /* outline: var(--bs-light) 1.5px dotted; */
  &:hover {
    .text-box-text {
      &:not(:focus) {
        opacity: 0.7;
      }
    }
    &:has(.text-box-text:focus) {
      /* pointer-events: none; */
      cursor:default;
    }
  }
}
.free-text-half .text-box-text {
  white-space: wrap !important;
  font-size: clamp(1vw, 0.5rem, 0.5vw);
  height: 100%;
}
.modal {
  --bs-border-color: var(--bs-light);
}
.weapon-editor {
  border: 1px solid var(--bs-light);
  border-radius: .5rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.level-editor {
  border-radius: .5rem;
  margin-bottom: 0.75rem;
}

.weapon-header, .level-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .75rem;
}

.weapon-grid  {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: .75rem;
}
.level-grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) 3rem;
  gap: .75rem;
}

@media (max-width: 768px) {
  .weapon-grid, .level-grid {
    grid-template-columns: 1fr;
  }
}

.close-button {
  color: var(--bs-light);
  border: none;
  background: none;
  cursor: pointer;
  margin-left: auto;
}